# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

# ignore simplecov reports
/coverage
/test/controllers/coverage/
/test/models/coverage/

# ignore generated documentation
/doc/app
