

<p>This is the linking point to the other app:</p>

<p>
    
<%= link_to "Launch Dashboard 983", '/launch/983', target: :blank %>
</p>

<p>
<%= link_to "Launch Dashboard 984", '/launch/984', target: :blank %>
</p>


