

<p>This is the linking point to the other app:</p>

<form method="POST" action="http://localhost:3000/tokens">

    <input type="text" size="180" value="<%= JWTWrapper.encode({ user: 5, dashboard_id: 9 }) %>" />
    <input type="submit" value="Start" />

</form>

