


<form method="POST" action="https://sand-qual.dev.affdex.com/single_sign_on_sessions">

    <input type="text" name="token" size="180" value="<%= JWTWrapper.encode({ user_id: 6061, dashboard_id: 23643, movie_id: @movie_id }) %>" />
    <input type="text" name="partner" size="180" value="zappisln" />

</form>

<script>
    $(function() {
        // submit the form
        document.forms[0].submit();
    });
</script>
    